@model GetAllProjectsViewModel<GetUserProjectsViewModel>
 
@{
    Layout = "_ProfessionalLayout";
}

<div id="topnavbar">
    <div class="topnav mb-3">
        <div class="d-flex px-1">
            <a href="#home" class="active">Bonjour prénom,</a> 
        </div>
    </div>
    
    <div class="table-responsive px-2">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col"><span>ID</span></th>
                    <th scope="col">NOM</th>
                    <th scope="col">DATE</th>
                    <th scope="col">CUR</th>
                    <th class="text-center" scope="col">STATUT</th>
                    <th class="text-center" scope="col">ACTION</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var project in Model.Projects)
                {
                    var statut = project.Statut ? "Delivered" : "Undelivered";
                    <tr>
                        <td><span class="bg-blight">@project.ProjectId</span></td>
                        <td><span class="bg-bdark">ABC<span class="ps-1">@project.Name</span></span></td>
                        <td><span class="bg-blight">@project.Date</span></td>
                        <td><span class="bg-bdark">Euro</span></td>
                        @if (project.Statut)
                        {
                            <td class="text-center px-0"><span class="fas fa-check"></span></td>
                        }
                        else
                        {
                            <td><i class="fas fa-times"></i></td>
                        }
                        <td class="text-center"><span class="fas fa-ellipsis-h"></span></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            @for (int i = 1; i <= Model.Pages; i++)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="ProfessionalFeed" asp-action="Index" asp-route-id="@i">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>
