@model GetAllProjectsViewModel<GetUserProjectsViewModel>
 
@{
    Layout = "_ProfessionalLayout";
}

<div>
    <section class="content">
        <h1 class="title">Bonjour prénom,</h1>

        <article class="client-projects">
            <h2>Projets</h2>

            <table>
                <tr>
                    <th>ID</th>
                    <th>NOM</th>
                    <th>DATE</th>
                    <th>GAIN</th>
                    <th>STATUT</th>
                </tr>
                @foreach (var project in Model.Projects)
                {
                    var statut = project.Statut ? "Delivered" : "Undelivered";
                    <tr>
                        <td>
                            <label class="container">@project.ProjectId</label>
                        </td>
                        <td>@project.Name</td>
                        <td>@project.Date</td>
                        <td>$0</td>
                        <td>@statut</td>
                    </tr>
                }
            </table>
            <ul class="pagination">
                @{
                    List<int> pagesToShow = new List<int>();

                    for (int i = 1; i <= Model.Pages; i++)
                    {
                        pagesToShow.Add(i);
                    }

                    for (int i = 0; i < pagesToShow.Count; i++)
                    {
                        var pageNumber = pagesToShow[i];

                        <li class="page-item">
                            <a class="page-link"
                               asp-area=""
                               asp-controller="ProfessionalFeed"
                               asp-action="Index"
                               asp-route-pageNumber="@pageNumber">
                                @pageNumber
                            </a>
                        </li>
                    }
                }
            </ul>
        </article>

        <article class="create-project">
            <button class="plus-button">
                <i class="fa fa-plus"></i>
            </button>

            <p>
                <a asp-area="" asp-controller="ProfessionalFeed" asp-action="SearchClients">Trouver nouveaux clients</a>
            </p>
        </article>
    </section>
</div>

<link rel="stylesheet" href="~/css/professionalFeed.css" />