@model GetAllProjectsViewModel<ClientProjectsViewModel>

@{
    Layout = "_ClientsLayout";
}


@if (Model.ReciveNotifications)
{
    <span id="client-notifications">Vous avez des notifications</span>
    <a class="link-notifications" asp-area="" asp-controller="Clients" asp-action="Notifications">Plus de détails</a>
}

<div id="topnavbar">
    <div class="topnav mb-3">
        <div class="d-flex px-1">
            <a href="#home" class="active">Bonjour prénom,</a>
        </div>
    </div>

    <div class="table-responsive px-2">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col"><span>ID</span></th>
                    <th scope="col">NOM</th>
                    <th scope="col">DATE</th>
                    <th scope="col">CUR</th>
                    <th class="text-center" scope="col">STATUT</th>
                    <th class="text-center" scope="col">ACTION</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var project in Model.Projects)
                {
                    var statut = project.Status ? "Delivered" : "Undelivered";

                <tr>
                    <td><span class="bg-blight">@project.Id</span></td>
                    <td>
                        <span class="bg-bdark">
                               <span class="ps-1">
                                   <a asp-action="Details" asp-controller="Clients" asp-route-id="@project.Id" asp-area="">@project.Name</a>
                               </span>
                        </span>
                    </td>
                    <td><span class="bg-blight">@project.Date</span></td>
                    @*<td><span class="bg-bdark">$0</span></td>*@
                    <td><span class="bg-bdark">Euro</span></td>
                    @if (project.Status)
                    {
                    <td class="text-center px-0"><span class="fas fa-check"></span></td>
                    }
                    else
                    {
                    <td><i class="fas fa-times"></i></td>
                    }
                    <td class="text-center"><span class="fas fa-ellipsis-h"></span></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            @for (int i = 1; i <= Model.Pages; i++)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Clients" asp-action="Index" asp-route-id="@i">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>

<script>
    function handleProject(id) {
        const token = $('input[name=__RequestVerificationToken]').val();
        const data = {
            projectId: id,
        };

        $.ajax({
            url: '/api/projects/finishProject',
            type: 'post',
            headers: {
                "X-CSRF": token,
            },
            data: JSON.stringify(data),
            contentType: 'application/json',
            success: function (result) {
                const messageP = document.getElementById('message-paragraph');
                if (result) {
                    messageP.textContent = 'The project was marked as completed'
                } else {
                    messageP.textContent = 'The project was marked as not completed'
                }
                $('#message-paragraph').show();

                setTimeout(function () {
                    $('#message-paragraph').hide();
                }, 2000);
            }
        });
    }
</script>